<div class="container-fluid bg-danger d-flex justify-content-center align-items-center" style="min-height: 100vh">
    <div class="col-10 bg-dark opacity-75 p-3">
        <h1 class="text-white text-center">Chat</h1>
        <div class="bg-white rounded-3 my-3" id="chatBox" style="height: 80vh;overflow-y:scroll"></div>
        <div class="input-group">
            <input type="text" class="form-control" id="messageInput" placeholder="Escriba un mensaje" />
            <button class="btn btn-outline-danger" type="button" id="messageBtn">Send</button>
        </div>
    </div>
</div>

<script src="socket.io/socket.io.js"></script>
<script src="./../public/js/chat.js"></script>