<div class="w-full bg-white" style="min-height: 100vh">
    <div class="w-full opacity-75 p-3">
        <h1 class="text-black text-center text-3xl font-bold">Chat</h1>
        <div class="bg-gray-100 rounded-xl my-3" id="chatBox" style="height: 80vh;overflow-y:scroll"></div>
        <div class="w-3/4 mx-auto">
            <input type="text" class="form-control w-3/4 mx-auto" id="messageInput" placeholder="Escriba un mensaje" />
        </div>
    </div>
</div>

<script src="socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/chat.js"></script>